.RecipeMaker {
  background-color: lightgray;
  padding: 5px 100px;
  margin: 20px 180px;
  display: flex;

  .Recipe-preview {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0 20px;
    min-width: 280px;
    text-align: left;
    background: lightgoldenrodyellow;
    font-size: 10pt;
    h1 { font-size: 24pt; }
    p {
      font-size: 14pt; font-style: italic;
    }
  }
}
